.athir-intro {
  text-align: left;
  margin-top: 40px;
  padding: 0.1em 1.5em 0.4em 2.5em;
}

.athir-container {
  text-align: left;
  font-size: 27px;
}

.athir-bio {
  margin-top: 35px;
  padding: 1.7em 2.5em 2.5em 1em;
}

.athir-pic {
  display: flex;
  float: left;
  justify-content: left;
  width: 30%;
  margin: 0 2.5em 2em 1.2em;
  padding-top: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: auto;
}

/* .athir-sosmed a {
  margin: 0 0 0 1em;
  font-size: 48px;
  color: #28140d;
} */

footer {
  background-color: #412017;
  color: azure;
  height: 4em;
  padding: 1em 2em;
  margin-top: 5em;
  margin-bottom: 0;
}

.navbar {
  background-image: url(/assets/nav.jpg);
}

.container-form {
  padding: auto;
  margin: 20px;
}

.card-img-top:hover {
  opacity: 50%;
}

.row {
  justify-content: space-around;
  position: relative;
}